table{
    border-collapse: collapse;
    width: 100%;
}
table, th, td {
    border: 1px solid black;
  }
table tr td{
    padding: 10px;
}

.container{
    width: calc(100vw - 30px);
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}